<form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
  <h1>Вход</h1>
  <div class="form-group">
    <div class="form-input">
      <label for="login">Login</label>
      <input type="text" id="login" formControlName="username">
    </div>
    <div class="form-input">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password">
    </div>
  </div>
  <div class="form-actions">
    <button class="button button--action-success" [disabled]="loginForm.invalid" type="submit">Войти</button>
  </div>
</form>
